@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Syne:wght@400..800&display=swap");

@import "tailwindcss";

@theme {
  --font-sans: "DM Sans", sans-serif;
  --font-syne: "Syne", sans-serif;

  --animate-slide-down: slide-down 0.3s ease-in-out both;
  @keyframes slide-down {
    0% {
      opacity: 0;
      transform: translateY(-1rem);
    }
    100% {
      opacity: 100%;
      transform: translateY(0);
    }
  }
}

html,
body {
  background-color: #1e1e1e;
}


